<div id="header" class="jumbotron">
	<h1>Labo <small>| Page en cours</small></h1>
	<p>Cette page est en cours de développement. Vous pourrez y revenir plus tard.</p>
	<!-- <p><a class="btn btn-primary btn-sm" href="http://svn.aequation-webdesign.fr">Serveur SVN</a></p> -->
</div>