<div id="header" class="jumbotron">
	<h1>Labo <small>| administration</small></h1>
	<p>Interface de gestion pour sites AEW</p>
	<p><a class="btn btn-primary btn-sm" href="http://svn.aequation-webdesign.fr">Serveur SVN</a></p>
</div>