<div class="page-header">
	<h1>{{ entiteName|capitalize }}
		{% if souscat.values is defined %}
		<small> | {{ souscat.values|upper }}</small>
		{% endif %}
		{% if action2 is defined %}
		{% if action2 == "annule" %}
		<a href="{{ url(ROUTE, {action: 'liste', classEntite: Url_encode(URLclassEntite)}) }}">
			<button type="button" class="btn btn-primary btn-md"><span class="glyphicon glyphicon-arrow-left"></span> Retour</button>
		</a>
		{% endif %}
		{% endif %}
	</h1>
	{% if comment is defined %}<p>{{ comment|capitalize }}</p>{% endif %}
</div>