{% if value == null %}{% set datetxt = "---" %}{% set title = '' %}{% else %}{% set datetxt = value|date('d/m/Y') %}{% set title = ' title="' ~ value|date('d/m/Y \\- H:i:s') ~ '"' %}{% endif %}
<td{{ title|raw }}>{{ datetxt }}</td>
