{% extends "laboBundle::laboHomepage.html.twig" %}

{% block navbar %}{{ parent() }}{% endblock navbar %}

{% block body_container %}
<div class="row">
	{% include('laboBundle:blocks:menu_commerce.html.twig') %}
</div>
{% endblock body_container %}

{% block iBoxs %}{{ parent() }}{% endblock iBoxs %}