{% extends "laboBundle::laboHomepage.html.twig" %}

{% block navbar %}{{ parent() }}{% endblock navbar %}

{% block body_container %}
	<p>BONJOUR !<br>vous êtes sur labo3 !!</p>
{% endblock body_container %}