{% extends "LaboTestmanuBundle::sitePage.html.twig" %}
{% block title %}{{ parent() }} - Routes pour {{ motif }}{% endblock %}

{% block main_contain %}
{% set entiteName = "Routes" %}
{% set ssentiteName = motif %}
{% include "LaboTestmanuBundle:bloc:page-header.html.twig" %}
<div class="row">
	<!-- Corps complet -->
	<div class="well well-sm"><span class="glyphicon glyphicon-circle-arrow-right"></span>&nbsp;&nbsp;Liste des routes pour {{ motif }}</div>
	<div class="list-group">
		<a class="list-group-item active">Liste des routes</a>
		{% for route in routes %}
		<a class="list-group-item" href="#">{{ route }}</a>
		{% endfor %}
	</div>
</div>
{% endblock %}